img.bandage { width: 42px; height: 42px; background: url(icons.png) 0px -4px no-repeat; }
img.calendar { width: 43px; height: 43px; background: url(icons.png) -42px -3px no-repeat; }
img.cars { width: 50px; height: 28px; background: url(icons.png) -85px -11px no-repeat; }
img.fish { width: 48px; height: 36px; background: url(icons.png) -135px -7px no-repeat; }
img.football { width: 41px; height: 46px; background: url(icons.png) -183px -2px no-repeat; }
img.hand { width: 34px; height: 46px; background: url(icons.png) -224px -2px no-repeat; }
img.high_priority { width: 50px; height: 50px; background: url(icons.png) -258px 0px no-repeat; }
img.meeting { width: 41px; height: 41px; background: url(icons.png) -308px -4px no-repeat; }
img.more { width: 42px; height: 10px; background: url(icons.png) -349px -20px no-repeat; }
img.puzzle { width: 40px; height: 46px; background: url(icons.png) -391px -2px no-repeat; }
img.regular-biking { width: 50px; height: 45px; background: url(icons.png) -431px -2px no-repeat; }
img.rules { width: 40px; height: 40px; background: url(icons.png) -481px -5px no-repeat; }
img.school { width: 43px; height: 38px; background: url(icons.png) -521px -6px no-repeat; }
img.shop { width: 39px; height: 38px; background: url(icons.png) -564px -6px no-repeat; }
img.soap { width: 41px; height: 41px; background: url(icons.png) -603px -4px no-repeat; }
img.talk { width: 46px; height: 39px; background: url(icons.png) -644px -5px no-repeat; }
img.toilet-pan { width: 35px; height: 50px; background: url(icons.png) -690px 0px no-repeat; }
img.tooth { width: 36px; height: 38px; background: url(icons.png) -725px -6px no-repeat; }
img.trophy { width: 42px; height: 42px; background: url(icons.png) -761px -4px no-repeat; }
img.vegetarian-food { width: 42px; height: 42px; background: url(icons.png) -803px -4px no-repeat; }
