%h3.callout-header Android Tablet &amp; Case with Autism Apps
%h1.pull-title
  only $29
%div
  %p Become a Puzzle Piece member and get a 9" Android tablet with case for $29 and 10 exclusive Autism apps per month for an additional $19/mo.
  %p{ style: "font-weight: bolder" } No contracts.  Cancel Anytime. :)
%br
%div.callout-cta
  %button.btn.btn-primary{ 'data-toggle' => 'modal', 'data-target' => '#checkoutModal' } Buy Now
