%section
  .container
    .row
      .col-sm-12.content
        %h1 Privacy Policy

        %p Helping Hands Puzzle Piece is committed to protecting your online privacy. We feel it is important for you to know how we handle the information we receive from you via the Internet. This consent contains valuable information about how we manage your customer transaction and personal information.
        Please read this policy carefully.

        %p The terms and conditions of use policy, and the privacy policy, identify what users of Helping Hands Puzzle Piece ("Users") can expect from this site, and what we expect from Users. By accessing any areas of this site, Users are deemed to have accepted the Helping Hands Puzzle Piece terms and conditions of use, and the privacy policy identified throughout Helping Hands Puzzle Piece. Throughout this Agreement, Helping Hands Puzzle Piece is referred to as "We" or "Us."
        %p To purchase products and to gain access to some of our content and services, you'll provide certain personal information. As a customer of Helping Hands Puzzle Piece, you'll provide your name, address, telephone number, billing information and email address. This personal information is stored with a third-party vendor. We regularly share, with your permission, our list of names and addresses with other organizations offering products and services that may be of interest to our customers.
        %p If, at any time, you prefer that we do not share your information, contact us at by contacting customer service at hello@gethelpinghands.com or calling 888-910-4668 or send regular mail to:
        %p
          Helping Hands Puzzle Piece
          %br
          29605 Solana Way
          %br
          Temecula, CA 92595

        %p Helping Hands Puzzle Piece may contain links to websites operated by third parties. Helping Hands Puzzle Piece has no control over the privacy policies and practices of such third party sites, and if you have any concerns, you are urged to review the terms of those sites for more information about the policies applicable to those sites.
        %p We collect and log the Internet Protocol address (IP) of all visitors to Helping Hands Puzzle Piece. An IP address is a number automatically assigned to your computer whenever you access the Internet. IP addresses allow computers and servers to recognize and communicate with one another. We collect IP address information so that we can properly administer our system and gather aggregate information about how our site is being used, including the pages visitors are viewing. This aggregate information may be shared with advertisers, sponsors and other businesses. To maintain your anonymity, we do not associate IP addresses with records containing personal information. We will use IP address information, however, to personally identify you in order to enforce our legal rights or when required to do so by law enforcement authorities.
        %p "Cookies" are small pieces of information that some websites store on your computer's hard drive when you visit them. Like many other websites, Helping Hands Puzzle Piece uses cookies to provide us with information relating to the sources of our site traffic. Collecting this information, however, does not allow us to personally identify you. Most Web browsers automatically accept cookies but allow you to modify security settings so that you can approve or reject cookies on a case-by-case basis. Our site requires that both cookies and JavaScript be enabled. If you reject cookies from our site, some parts of the site may not work properly for you.
        %p All data that you enter on this site are encrypted with secure server software (SSL). The encryption means that your data are protected while they are being transferred over the Internet to our servers.
        %p Once your data reach our servers, the same state-of-the art security software that guards our company's essential business data protects your data as well.
        %p In addition to using the most secure technology available, we de-identify all data before they are used in any aggregate reporting that may be done.
        %p We may share our list of customer names and addresses with other organizations that may contact you by mail. Your name will not be included unless you have given us permission to share that information.
        %p Helping Hands Puzzle Piece does not provide any third party access to your IP address and email address.
        %p We may provide third parties with aggregate statistics about our visitors, traffic patterns and related site information. These data reflect site-usage patterns gathered during visits to our website each month, but they do not contain behavioral or identifying information about any individual member unless that member has given us permission to share that information.
        %p We use general traffic, site usage and length-of-stay information in reports to advertisers and firms with which we have a business relationship. This sort of information is shared only in aggregate and does not personally identify you.
        %p This site is intended for adults age 18 and older. It is not intended for or designed to attract people under the age of 18 as members. We do not collect personally identifiable information from any person we actually know to be under the age of 18.  The site does have materials that are designed for members to use with children.  However, the site is not designed for use by children without parental supervision and no personally identifiable information is sought from children.
        %p Helping Hands Puzzle Piece provides you with the opportunity to receive communications from us or third parties. You can sign up and can unsubscribe from this service at any time.
        %p You may decide at some point that you no longer wish to receive communications from our site. To stop receiving communications, use our contact information below.
        %p If you have a complaint or problem, or if you believe your privacy rights have been violated, use our contact information below. Please indicate the following reason for contacting us: I want to provide feedback about your site. Our Customer Service department will forward your complaint to the appropriate Helping Hands Puzzle Piece person for response or resolution. If you don't receive adequate resolution of a privacy-related problem, you may write to Helping Hands Puzzle Piece.

        %p How to contact us
        %p Customer service at hello@gethelpinghands.com or calling 888-910-4668 or send regular mail to:
        %p
          Helping Hands Puzzle Piece
          %br
          29605 Solana Way
          %br
          Temecula, CA 92595
