$white:           #ffffff;

$black:           #41464E;
$black--lighter:  #4A4F5B;

$orange:          #FF7F0E;
$orange--lighter: #FF9009;

$purple:          #9B6BB4;
$purple--lighter: #A57CBA;

$green:           #55CA61;
$green--lighter:  #30C251;

$yellow:          #FCC300;
$yellow--lighter: #F8D532;

$gray:            #D1D3D5;
$gray--lighter:   #E6E7E8;
$gray--darker:    #666B75
